<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{userName}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-label>Roles de usuario</mat-label>
      <mat-divider [vertical]="true"></mat-divider>
      <mat-table [dataSource]="roles" class="mat-elevation-z8">
            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
            </ng-container>    
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-divider [vertical]="true"></mat-divider>
      <img mat-card-image [src]="imagenData" *ngIf="imagenEstado" />
  </mat-card-content>  
</mat-card>

<!--<mat-form-field>
    <input matInput placeholder="Nombre" [(ngModel)]="usuario.nombre">
</mat-form-field>

<mat-form-field>
    <input matInput placeholder="Precio" [(ngModel)]="usuario.precio" type="tel">
</mat-form-field>


<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="idRol">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.idRol}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.nombre}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<button mat-button color="primary" onclick="document.getElementById('flArchivo').click()">Seleccionar archivo</button>
<input id="flArchivo" type="file" style="display: none" (change)="selectFile($event)">

<img mat-card-image [src]="imagenData" *ngIf="imagenEstado" width="50%" height="50%"/>
<p>{{labelFile}}</p>
-->
