<form [formGroup]="clientFormGroup"   #frmPelicula="ngForm">
    <mat-form-field>
        <input formControlName="clienteNombre" matInput placeholder="Nombres cliente" [(ngModel)]="usuario.cliente.nombres" required>
    </mat-form-field>

    <mat-form-field>
        <input formControlName="clienteApellido" matInput placeholder="Apellidos cliente" [(ngModel)]="usuario.cliente.apellidos" required>
    </mat-form-field>

    <mat-form-field>
        <input formControlName="clienteDni" matInput placeholder="DNI" [(ngModel)]="usuario.cliente.dni" required>
    </mat-form-field>

    <mat-form-field>
        <input formControlName="clienteFecha" matInput [matDatepicker]="picker" [max]="maxFecha" placeholder="Escoge una fecha"  [(ngModel)]="usuario.cliente.fechaNac" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field>
        <input formControlName="usuarioNombre" matInput placeholder="Nombre Usuario" [(ngModel)]="usuario.nombre" required>
    </mat-form-field>

    <mat-form-field  *ngIf="clienteNuevo">
        <input formControlName="usuarioClave"  matInput placeholder="Nueva clave de Usuario" [(ngModel)]="nuevaClave" required>
    </mat-form-field>

    <button mat-button color="primary" onclick="document.getElementById('flArchivo').click()">Seleccionar archivo</button>
    <input id="flArchivo" type="file" style="display: none" (change)="selectFile($event)">

    <img mat-card-image [src]="imagenData" *ngIf="imagenEstado" width="50%" height="50%"/>
    <p>{{labelFile}}</p>

    <button mat-raised-button color="primary" [disabled]="frmPelicula.invalid"    (click)="operar()">Aceptar</button>
</form>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
